source_url https://raw.githubusercontent.com/juspay/omnix/4daebcb38082e0f933d6a25284948122ad3a507e/omnixrc 'sha256-6+bGgf1Dw9Ua/7aiFs7RyN8slHZeOsBCmNsIQ5nqHGM='

watch_file nix/modules/flake-parts/*.nix

use omnix .
