source_url \
  https://raw.githubusercontent.com/juspay/omnix/6132d1054e824cc63c05c7b1344fddbd1f4ad472/omnixrc \
  'sha256-FBAVRYkaexKeFKQGUxaPHqhBnqA7km7++O77dKiyD0I='

watch_file nix/modules/flake-parts/*.nix om.yaml

use omnix .
